################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VehicleConfiguration/.vs/VehicleConfiguration/v16/Server/sqlite3
/VehicleConfiguration/.vs/VehicleConfiguration/v16
/VehicleConfiguration/VehicleConfiguration.DATA/obj
/VehicleConfiguration/VehicleConfiguration.WPF/obj
VehicleConfiguration/.vs/VehicleConfiguration/DesignTimeBuild/.dtbcache
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.WPF.dll
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.WPF.pdb
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.WPF.dll
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.WPF.pdb
VehicleConfiguration/VehicleConfiguration.DATA/bin/Debug/netcoreapp3.0/VehicleConfiguration.DATA.pdb
VehicleConfiguration/VehicleConfiguration.DATA/bin/Debug/netcoreapp3.0/VehicleConfiguration.DATA.dll
VehicleConfiguration/VehicleConfiguration.DATA/bin/Debug/netcoreapp3.0/VehicleConfiguration.DATA.pdb
VehicleConfiguration/VehicleConfiguration.DATA/bin/Debug/netstandard2.0/VehicleConfiguration.DATA.dll
VehicleConfiguration/VehicleConfiguration.DATA/bin/Debug/netstandard2.0/VehicleConfiguration.DATA.pdb
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.DATA.dll
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.DATA.pdb
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.WPF.dll
VehicleConfiguration/VehicleConfiguration.WPF/bin/Debug/netcoreapp3.0/VehicleConfiguration.WPF.pdb
/VehicleConfiguration/VehicleConfiguration.DATA/bin/Release/netcoreapp3.0
/VehicleConfiguration/VehicleConfiguration.DATA/bin/Release/netstandard2.0
/VehicleConfiguration/VehicleConfiguration.WPF/bin/Release/netcoreapp3.0
*.dll
